In [1]:
# Printing out things

In [2]:
print("Hello world!")

Hello world!

In [3]:
# Also we can print out numbers
print(23)

23

In [4]:
# Usually every print starts from a new line
print("First line")
print("Second line")

First line
Second line

In [5]:
# To change that we should chang the value of the 'end' paramaeter in the print function

In [6]:
print("First line", end=' ')
print("Continuing the first line")
print("Second line")

First line Continuing the first line
Second line

In [11]:
# Printing out combined values
print("Salut ma numesc " + "Vasile" + " si am " + 20 + " de  ani")

TypeError: can only concatenate str (not "int") to str

In [12]:
# The right way to do that
print("Salut ma numesc " + "Vasile" + " si am " + '20' + " de ani")

Salut ma numesc Vasile si am 20 de ani

In [14]:
# The more fancy ways to do that
print("Salut ma numesc {} si am {} de ani".format("Vasile", 20))

Salut ma numesc Vasile si am 20 de ani

In [16]:
# The second way
print(f"Salut ma numesc {'Vasile'} si am {20} de ani")

Salut ma numesc Vasile si am 20 de ani

In [17]:
# ----------------------------- Data types -------------------------

In [18]:
# Integers

In [19]:
num = 1

In [20]:
print(num)

1

In [21]:
# type function
type(num)

int

In [22]:
# We can convert strings to numbers
num1 = int('1')

In [23]:
num1

1

In [24]:
# float

In [30]:
# creatting float numbers
float_num = 1.0

In [26]:
# Printing out float numbers
print(float_num)

1.0

In [27]:
# Generating numbers with floating point
pi = 3.14

In [28]:
print(pi)

3.14

In [29]:
# Converting flaot to integers
print(int(pi))

3

In [31]:
# Also we can convert integers to float
int_num = 23
float_num1 = float(23)
print(float_num1)

23.0

In [32]:
# Converting from string to float is also posible
pi = float("3.14")

In [33]:
print(pi)

3.14

In [34]:
# strings

In [37]:
# Creattions of strings
string = "My first python string"

In [38]:
print(string)

My first python string

In [39]:
# Converting other data types into strings
string = str(1)
print(string)

1

In [40]:
type(string)

str

In [41]:
# When we want a string that takes more the one row
long_string = '''First line of the string
Second line of the string'''
print(long_string)

First line of the string
Second line of the string

In [42]:
# Also string have a lot of functionalities
string = "I have a lot of fun"
print(string.lower())

i have a lot of fun

In [43]:
print(string.upper())

I HAVE A LOT OF FUN

In [46]:
print(string.startswith("I"))

True

In [47]:
print(string.startswith("We"))

False

In [48]:
# find the len of the string
print(len(string))

19

In [49]:
# Bool

In [50]:
boolean = True
print(boolean)

True

In [51]:
boolean = False
print(boolean)

False

In [52]:
# ------------------------------- INPUT -------------------------------

In [59]:
# To get the data from the user we will just use the function input and put the data in a varible
data = input()

data

In [60]:
# Printing out the data
print(data)

data

In [61]:
# Looking at the data type of the data
print(type(data))

<class 'str'>

In [62]:
# To convert the input into other data types
num1 = int(input())

23

In [63]:
# Printing out the type os the gotten data
print(type(num1))

<class 'int'>

In [64]:
# costumising the inputs
age = int(input("How old are you:"))

How old are you:20

In [65]:
print(age)

20

In [66]:
# EXERCIZE 1

In [67]:
'''
Write a code that will ask the person what is his name and age and will great them.
'''

'\nWrite a code that will ask the person what is his name and age and will great them.\n'

In [68]:
# Calling the input function for asking the name
name = input("What is your name:")
# Calling the input function to get the age of the person
age = input("How old are you:")
# Greatting the person mentioning its age by printing out the gotten data
print(f"Hi {name}, happy to meet you, I know that you are {age} years old")

What is your name:Vasile
How old are you:20
Hi Vasile, happy to meet you, I know that you are 20 years old

In [69]:
# EXERCIZE 2
'''
Let's ensure that the name of the person was written correctly, meening that it starts with
capitalised letter.
'''

"\nLet's ensure that the name of the person was written correctly, meening that it starts with\ncapitalised letter.\n"

In [1]:
# Calling the input function for asking the name
name = input("What is your name:")
# Calling the input function to get the age of the person
age = input("How old are you:")
# Greatting the person mentioning its age by printing out the gotten data
print(f"Hi {name.capitalize()}, happy to meet you, I know that you are {age} years old")

What is your name:Vasile
How old are you:20
Hi Vasile, happy to meet you, I know that you are 20 years old