In [1]:
# Python for Data Base interaction.

In [2]:
# Most of the time we can interpret programs as something that get the data from a data source
# manipulate it gives it back into another source.

In [3]:
# Usually the data sources are streams of data like requests from external sources, user input/
# output, files etc.
# On special data source is a data base.

In [4]:
# A data Base is a group of tables, like excel ones, that have connection between them.

In [5]:
# Let's create a Data Base where we will store information about users of a system.

In [6]:
# We will have 2 tables with the next columns:
# > user - id, name, surname, company, job_title
# > company - id, name, type, reveniew, industry

In [7]:
# Firstly we must create a data base file.
# In all programming languages the default data base type is SQLite.
# python has se library named - sqlite3 for interaction with databases.

In [8]:
# Also we will need a piece of software named DB Browser. We will use it to see what's in our 
# data base.

In [9]:
# So let's begin.

In [1]:
import sqlite3
# We must give a name to our data base.
DB_NAME = 'database.db'

In [2]:
# Now we must create a connection.
conn = sqlite3.connect(DB_NAME)

In [3]:
# Also we can clos the connectiob with the data base.
conn.close()

In [13]:
# Now we must create a table.

In [14]:
# To create a table in sqlite3 we need to use the sintax of the SQLite.

In [4]:
# Let's create the user table.
user_table_creation_query = '''CREATE TABLE IF NOT EXISTS user (
                                id integer PRIMARY KEY,
                                name text NOT NULL,
                                surname text NOT NULL,
                                job_title text NOT NULL,
                                company_id integer NOT NULL,
                                FOREIGN KEY (company_id) REFERENCES company (id)
                                );'''

In [5]:
# Now we must send this query to the data bases. For this will use the data base cursor
conn = sqlite3.connect(DB_NAME)
c = conn.cursor()
c.execute(user_table_creation_query)

In [6]:
# Now we can close the cursor and the connetion
c.close()
conn.close()

In [22]:
# Let's take a look  into our data base.

In [23]:
# As we see we created a table. Good.

In [7]:
# Now we must create the second table. Let's dafine it's creation query.
company_table_creation_query = '''CREATE TABLE IF NOT EXISTS company (
                                id integer PRIMARY KEY,
                                name text NOT NULL,
                                type text NOT NULL,
                                revenue real NOT NULL,
                                industry text NOT NULL
                                );'''

In [8]:
# Now let's apply this query on our data base.
conn = sqlite3.connect(DB_NAME)
c = conn.cursor()
c.execute(company_table_creation_query)

In [9]:
# Now we can close the cursor and the connetion
c.close()
conn.close()

In [33]:
# Good now let's create some samples in our data base.

In [34]:
# Firstly let's create some samples in the company.

In [10]:
# Let's create the quesry.
company_insert_query = ''' INSERT INTO company (name, type, revenue, industry)
                            VALUES(?,?,?,?)'''

In [36]:
# Now let's execute the query.

In [11]:
conn = sqlite3.connect(DB_NAME)
c = conn.cursor()
c.execute(company_insert_query, ('Google', 'SA', '10000000', 'IT'))

In [12]:
# Now we must commit all changes.
conn.commit()

In [41]:
# Now we can close the data base and the cursor, and see the changes

In [13]:
c.close()
conn.close()

In [43]:
# Good we saved all the changes.

In [14]:
# Let's create some more companies.
conn = sqlite3.connect(DB_NAME)
c = conn.cursor()
c.execute(company_insert_query, ('Facebook', 'SA', '100000', 'Social Media'))
c.execute(company_insert_query, ('Microsoft', 'SA', '10000000', 'Operation Systems'))
c.execute(company_insert_query, ('IBM', 'SA', '100000', 'IT'))

In [15]:
conn.commit()
c.close()
conn.close()

In [46]:
# Good, Now let's create some users.

In [16]:
user_insert_query = ''' INSERT INTO user (name, surname, job_title, company_id)
                            VALUES(?,?,?,?)'''

In [17]:
# opening the data base and the cursor
conn = sqlite3.connect(DB_NAME)
c = conn.cursor()

In [18]:
# Adding the users
c.execute(user_insert_query, ('John', 'Hopkins', 'Programmer', 0))
c.execute(user_insert_query, ('Alice', 'Stevens', 'Programmer', 0))
c.execute(user_insert_query, ('Peter', 'Hopes', 'IT-Support', 1))
c.execute(user_insert_query, ('Susan', 'Hopes', 'Front-End Developer', 1))
c.execute(user_insert_query, ('Alex', 'Brocks', 'Programmer', 2))
c.execute(user_insert_query, ('Joe', 'Wildwood', 'Programmer', 3))

In [19]:
conn.commit()
c.close()
conn.close()

In [51]:
# Cool now we have all tha data stored. Now let's see how to extract it.

In [52]:
# Let's firstly extract all the users from the data base.

In [20]:
conn = sqlite3.connect(DB_NAME)
c = conn.cursor()

In [23]:
data = c.execute("SELECT * FROM user").fetchall()

In [24]:
data

[(1, 'John', 'Hopkins', 'Programmer', 0),
 (2, 'Alice', 'Stevens', 'Programmer', 0),
 (3, 'Peter', 'Hopes', 'IT-Support', 1),
 (4, 'Susan', 'Hopes', 'Front-End Developer', 1),
 (5, 'Alex', 'Brocks', 'Programmer', 2),
 (6, 'Joe', 'Wildwood', 'Programmer', 3)]

In [25]:
# As you see we extrscted all the rows and column from the user table.
# The same we can do with the company table.

In [27]:
data = c.execute("SELECT * FROM company").fetchall()
data

[(1, 'Google', 'SA', 10000000.0, 'IT'),
 (2, 'Facebook', 'SA', 100000.0, 'Social Media'),
 (3, 'Microsoft', 'SA', 10000000.0, 'Operation Systems'),
 (4, 'IBM', 'SA', 100000.0, 'IT')]

In [61]:
# Cool.
# Suppos we need al the users that work ad Google.

In [29]:
data = c.execute('''SELECT user.name, user.surname, user.job_title FROM user, company
                 WHERE user.company_id = company.id AND company.name = "Google"''').fetchall()

In [30]:
data

[('Peter', 'Hopes', 'IT-Support'), ('Susan', 'Hopes', 'Front-End Developer')]

In [67]:
# And we are done.
# WHERE KEY-WORD allows as to filter out the rows that we need.

In [68]:
# Also as you have been seen from the previous example we can select from multiple tables.

In [69]:
# However some times we need to extract data from multiple tables in on new table.

In [70]:
# For this we will need the JOINs.
# There are a many types of joins. However we will use only the IMNER one.

In [31]:
# Create the INNER JOIN query.
inner_join_query = '''SELECT user.name AS username, 
                            user.surname AS surname, 
                            user.job_title AS job_title,
                            company.name AS company, 
                            company.industry AS industry
                        FROM user INNER JOIN company ON company.id = user.company_id'''

In [32]:
data = c.execute(inner_join_query).fetchall()

In [33]:
data

[('Peter', 'Hopes', 'IT-Support', 'Google', 'IT'),
 ('Susan', 'Hopes', 'Front-End Developer', 'Google', 'IT'),
 ('Alex', 'Brocks', 'Programmer', 'Facebook', 'Social Media'),
 ('Joe', 'Wildwood', 'Programmer', 'Microsoft', 'Operation Systems')]

In [34]:
# And we are done. :)

In [35]:
c.close()
conn.close()