In [1]:
# Tuples and sets.

In [2]:
# Tuples are like lists data structures with one diference, they can't be change after their
# creation

In [3]:
# creation of a tuple
tup = tuple([1, 2, 3, 4, 5])

In [4]:
print(tup)

(1, 2, 3, 4, 5)

In [5]:
# Accessing the elements of a tuple
print(tup[0])

1

In [6]:
print(tup[-1])

5

In [8]:
# Also we can acces elements of a tuple by slices

In [9]:
print(tup[:3])

(1, 2, 3)

In [10]:
# Tuple methods

In [11]:
# index

In [12]:
print(tup.index(2))

1

In [14]:
# count
tup = tuple([1, 2, 3, 4, 5, 7, 7, 8, 9, 10])

In [15]:
print(tup.count(7))

2

In [16]:
# tuple unpacking

In [17]:
# chanching the values of 2 variables
a = 2
b = 3
a, b = b, a
print(f"a - {a}, b - {b}")

a - 3, b - 2

In [19]:
# This happens becouse python internally creates 2 tuples and swipes their values
tup = tuple([1, 2, 3])
(first, second, third) = tup

In [20]:
print(first)

1

In [21]:
print(second)

2

In [27]:
# SETS

In [28]:
# Sets are data structures like tuples, but they can be changed and can only store one example per value

In [29]:
# Creatting a set
first_set = set([1, 2, 3, 4, 5])
print(first_set)

{1, 2, 3, 4, 5}

In [30]:
first_set = set([1, 2, 3, 4, 5, 5])
print(first_set)

{1, 2, 3, 4, 5}

In [31]:
# creatting sets using curly brackets
second_set = {1, 2, 3, 4, 5, 5}
print(second_set)

{1, 2, 3, 4, 5}

In [32]:
# Adding a value to a set
second_set.add(6)

In [33]:
print(second_set)

{1, 2, 3, 4, 5, 6}

In [35]:
# If we will try to add an existent value to a set, nothing will happen
second_set.add(6)

In [36]:
print(second_set)

{1, 2, 3, 4, 5, 6}

In [37]:
# updating a set
first_set = {1, 2, 3}
second_set = {3, 4, 5}
first_set.update(second_set)

In [38]:
print(first_set)

{1, 2, 3, 4, 5}

In [39]:
# Removing a value from the set
first_set.remove(5)
print(first_set)

{1, 2, 3, 4}

In [41]:
# If we will call remove function with a argument the doesn't exists in the set, this
# will rise an error
first_set.remove(5)

KeyError: 5

In [42]:
# Deletting a random element from the set. It will return the value eraised
first_set.pop()

1

In [43]:
print(first_set)

{2, 3, 4}

In [44]:
# Interssection of 2 sets

In [45]:
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}
print(first_set.intersection(second_set))

{4, 5}

In [47]:
first_set & second_set

{4, 5}

In [48]:
# Diference of 2 sets
first_set = {1, 2, 3, 4, 5}
second_set = {4, 5, 6, 7, 8}
print(first_set.difference(second_set))

{1, 2, 3}

In [49]:
print(second_set.difference(first_set))

{8, 6, 7}

In [50]:
first_set - second_set

{1, 2, 3}

In [51]:
second_set - first_set

{6, 7, 8}