In [1]:
range(10)

range(0, 10)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
range(1, 10)

range(1, 10)

In [5]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1, 10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
range(1, 10, 2)

range(1, 10, 2)

In [8]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [9]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [10]:
# Multiplication table
for i in range(1, 11):
    print(f"2 x {i} = {i*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [15]:
for i in range(1, 4):
    print(f"Multiplication table of {i}")
    for j in range(1, 11):
        print(f"{j} x {i} = {j*i}")

Multiplication table of 1
1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
Multiplication table of 2
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
Multiplication table of 3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [2]:
i = 0
while i < 9:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8

In [3]:
for charlie in range(10):
    print(charlie)

0
1
2
3
4
5
6
7
8
9

In [4]:
# Victorina
while True:
    res = int(input("How much is 2 + 2? "))
    if res == 2 + 2:
        print("The answer is correct")
        break
    else:
        print("The answer is wrong, please try again")

How much is 2 + 2? 4
The answer is correct